@page "/purchase_invoices/delete_item"
@model store_managament_oop.Pages.PurchaseInvoiceItems.DeletePurchaseInvoiceItemModel
@{
}
<h1>Delete Purchase Invoice Item</h1>

<p>Are you sure you want to delete this item?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/purchase_invoices/edit?purchaseInvoiceId=@Model.purchaseInvoiceId" class="btn btn-secondary">Cancel</a>
</form>
