@page "/categories/edit"
@model store_managament_oop.Pages.Categories.EditCategoryModel
@{
    ViewData["Title"] = "Edit Category";
}
<div class="container mt-5">
    <h1 class="mb-4">Create Category</h1>

    <!-- Category Creation Form -->
    <form method="POST">
        @if (Model.category != null) {
            <div class="mb-3">
                <label for="categoryId" class="form-label">Category ID</label>
                <input type="number" class="form-control" id="categoryId" name="categoryId" readonly value="@Model.category.categoryId">
            </div>

            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName" value="@Model.category.categoryName" required>
            </div>

            <div class="mb-3">
                <label for="categoryDescription" class="form-label">Description</label>
                <input class="form-control" id="categoryDescription" name="categoryDescription" rows="4" value="@Model.category.categoryDescription" required>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="/categories" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        }
    </form>
    @Model.message
</div>